.card {
  list-style: none;
  max-width: 600px;
  flex-grow: 1;
  min-width: 35%;
}

.card__title {
  margin: 0 0 32px;
  flex-basis: 100%;

  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  all: unset;
}

.card__list-item {
  display: flex;
  margin-bottom: 16px;
  column-gap: 10px;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-divider {
  border-bottom: 1px #fff solid;
  border-width: 0.2ch;

  flex-grow: 1;
}
