.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 40px;

  background-color: white;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  height: 142px;
  margin-left: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  height:fit-content;
  margin-right: 80px;
  display: flex;
  column-gap: 20px;
}

.nav__link {
  line-height: 20px;
  text-decoration: none;
  font-weight: 500;
  color: black;

  transition: color ease-in-out .3s;
}

.nav__link:hover {
  color: #2F80ED;
}

.header__main {
  width: fit-content;
  margin: 80px 0 0 80px;
  position: relative;
  z-index: 1;
}

.header__title {
  margin: 0;

  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: block;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;

color: #2F80ED;
}

.header__description {
  width: 684px;
  margin: 20px 0 0 0;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  max-width:646px;
  max-height: 568px;
  margin: 0;
  position: absolute;
  top: 124px;
  right: 5px;
  border-radius: 50%;
  z-index: 0;
}

.header__info {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  bottom: 40px;

  font-weight: 500;
}

.header__paragraph {
height: 20px;
width: fit-content;
margin: 0 80px;

color: #838383;
}