.reservation {
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 120px;

  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  margin: 0 auto 80px;
  text-align: center;

  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
